.cardsContainer {
  display: flex;
  width: 60%;
  gap: 20px;
}

.cardsStack {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .cardsContainer {
    width: 100%;
    display: grid;
    gap: 20px;
  }

  .cardsStack {
    width: 100%;
  }

  .cardsStack .MuiStack-root {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .cardsContainer {
    width: 100%;
  }
}
